<!-- Container -->

<!-- TODO LIST -->
<div class="row">
	<div class="col-md-12">
    <div id="todoList" class="list-group"></div>
	</div>  
</div>

<!-- ADD TODO -->
<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <input id="newTodo" placeholder="Todo" type="text" class="form-control" autofocus>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="addTodo">Add</button>
        <button class="btn btn-warning" type="button" id="sort">Sort</button>
        <button class="btn btn-danger" type="button" id="clear">Clear</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-md-12 -->
</div><!-- /.row -->

<!-- /container